[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
factory_boy = "*"
flake8 = "*"
pillow = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"

[packages]
django = "*"

[requires]
python_version = "3.7"
